#include <version.h>
#include <windows.h>

101 ICON "main.ico"

VS_VERSION_INFO VERSIONINFO
  PRODUCTVERSION PROJECT_VERSION_MAJOR, PROJECT_VERSION_MINOR, 0, 0
  FILEVERSION    PROJECT_VERSION_MAJOR, PROJECT_VERSION_MINOR, PROJECT_VERSION_PATCH, 0
  FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifndef NDEBUG
  FILEFLAGS VS_FF_DEBUG
#else
  FILEFLAGS 0
#endif
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "0000FDE9"
    BEGIN
      VALUE "FileDescription",  PROJECT_NAME
      VALUE "ProductName",      PROJECT_DESCRIPTION
      VALUE "ProductVersion",   PROJECT_VERSION
      VALUE "LegalCopyright",   PROJECT_VENDOR
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0, 0xFDE9  // CP_UTF8 (65001)
  END
END
